langchain>=0.1.14
langchain-community
langchain-huggingface
langchain-ollama
faiss-cpu
unstructured
langchain-core>=0.1.37
transformers>=4.36.2
sentence-transformers>=2.2.2
torch>=2.0.0
pypdf>=3.17.4
